@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}

ul li,
ol li {
    list-style: none;
}

ul li.selected {
    background-color: blue;
}

button {
    line-height: 2.5em;
    font-size: 12px;
    padding: 4px;
    margin: 0 4px;
}

.dropDown {
    display: inline-block;
    position: relative;
}

.dropDown .dropDown-list {
    position: absolute;
    top: 28px;
    left: 4px;
    font-size: 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 99;
}

.dropDown .dropDown-list li {
    padding: 2px 4px;
}

.dropDown .dropDown-list li.selected {
    background-color: blue;
    color: white;
}

table.altrowstable {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}

table.altrowstable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}

table.altrowstable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}

table tr:nth-child(odd) td {
    background-color: #d4e3e5;
}

table tr:nth-child(even) td {
    background-color: #c3dde0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    padding: 15px;
    margin: 0;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.btn:focus,
.btn:hover {
    color: #333;
    text-decoration: none;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}

.dropdown {
    position: relative;
    display: block;
    float: left;
}

.dropdown:after {
    clear: both;
}

.dropdown>.dropdown-toggle {
    float: left;
}

.dropdown>.dropdown-menu {
    /*        position: static;
*/
    display: block;
    margin-bottom: 5px;
    clear: left;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.popUp {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu>li>a,
.popUp-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.box-selected {
    border: 2px solid blue;
    display: inline-block;
}
