<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    body {
        padding: 30px;
    }
    
    .dropdown>.dropdown-menu {
        position: absolute;
        margin-bottom: 5px;
        top: 34px;
    }
    
    .dropdown:after {
        clear: left;
    }
    
    .dropdown.show>.dropdown-menu {
        display: block;
    }
    /* .dropdown>.dropdown-toggle {
          float: left;
      }*/
    
    table {
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #a9c6c9;
        border-collapse: collapse;
    }
    
    table th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
    }
    
    table td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
    }
    
    table tr:nth-child(odd) td {
        background-color: #d4e3e5;
    }
    
    table tr:nth-child(even) td {
        background-color: #c3dde0;
    }
    
    .box-selected {
        border: 1px solid blue;
        display: inline-block;
    }
    </style>
</head>

<body id="mvc-app">
    <script type="text/template" id="tpl-createBtn">
        <ul id="btnListView" class="dropdown-menu" aria-labelledby="dropdownMenu">
            <%_.each(obj,function(e,i){%>
                <li>
                    <a href="javascript:void 0;" class="dropdown-menu-<%= e.id%>" data-id="<%= e.id%>">
                        <%= e.text%>
                    </a>
                </li>
                <%})%>
        </ul>
    </script>
    <!--   <script type="text/template" id="tpl-table">  
            <table>
              
            </table>
        </script> -->
    <!--     <div id="content">
        <ul id="template-list"></ul>
    </div> -->
    <script type="text/template" id="tpl-popup">
        <% var data = obj.data, tplType = obj.tplType;%>
            <ul id="pop-<%=tplType%>" class="dropdown-menu" aria-labelledby="dropdownMenu">
                <% _.each(data,function(e,i){%>
                    <li>
                        <a href="javascript:void 0;" class="actions-item <%=e.id%>" title="<%=e.title%>" value="<%=e.id%>">
                            <%= e.text%>
                        </a>
                    </li>
                    <%})%>
            </ul>
    </script>
    <div id="popupView" style="">
    </div>
    <!-- jquery.ajax-cross-origin.min.js -->
    <script src="js/jquery.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/backbone.localStorage.js"></script>
    <script type="text/javascript">
    'use strict';
    var domain = 'http://admadevwb8001:8001/api/html/elements';

    $(document).ready(function() {
        var appModel = Backbone.Model.extend({
            defaults: function() {
                return {
                    dataAPI: {
                        // 'domain': 'http://localhost:3000/api/html/elements',
                        'domain': 'http://admadevwb8001:8001/api/html/elements',
                        'createBtn': '',
                        'btnAction': {
                            'button': '/button/actions',
                            'inputText': '/inputText/actions',
                            'table': '/table/actions',
                            'div': '/div/actions',
                            'image': '/image/actions',
                        },
                        'data': {
                            'button': '/button/data',
                            'inputText': '/inputText/data',
                            'table': '/table/data',
                            'div': '/div/data',
                            'image': '/image/data',
                        }
                    }
                };
            },
            initialize: function() {
                //请求createBtn

            },
            reqCreateBtn: function() {
                var self = this;
                $.ajax({
                    type: 'get',
                    url: this.get('dataAPI').domain
                }).done(function(res) {
                    self.trigger('createBtnData', res.data);
                }).fail(function(err) {
                    console.info(err);
                });
            },
            reqTplData: function(tplType) {
                var self = this;
                $.ajax({
                    type: 'get',
                    url: this.get('dataAPI').domain + this.get('dataAPI').data[tplType]
                }).done(function(res) {
                    self.trigger('tplData', res.data, tplType);
                }).fail(function(err) {
                    console.info(err);
                });
            }
        });
        var appView = Backbone.View.extend({
            initialize: function(options) {
                this.model = new options.model();
                this.model.set({
                    curTemplate: '',
                    tplNum:new (Backbone.Model.extend({
                        defaults:function(){
                            return {
                                table:0,
                                button:0,
                                inputText:0,
                                div:0,
                                image:0
                            };
                        }
                    }))()
                });
                var btn = '<div class="dropdown createBtn">' + '<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">' + 'create' + '<span class="caret"></span>' + '</button>';
                this.$el.append(btn);
                this.bindEvents();
                this.model.reqCreateBtn();
                this.createSvg();
                this.$el.append('<div id="' + options.tplContainer.replace('#', '') + '"></div>');
            },
            createSvg:function(){
                var svg = '<svg id="testSvg" xmlns="http://www.w3.org/2000/svg" width="500" height="300" version="1.1"></svg>';
                    this.$svg = $(svg);
                    this.$el.append(this.$svg);
                    this.renderSVG(this.$svg,this.tplObj);
            },
            showCreateBtn: function(data) {
                var createBtnHandler = _.template($('#tpl-createBtn').html());
                $('.createBtn').append(createBtnHandler(data));
            },
            bindEvents: function() {
                var self = this;
                $('.createBtn').on('click', function() {
                    $('.createBtn').find('#btnListView').toggle();
                });
                $('body').delegate('#btnListView li a', 'click', function() {
                    var tplType = $(this).data('id');
                    self.createTplhandler(tplType);
                });
                $('body').delegate('[tpl]', 'click', function(e) {
                    var tplType = $(this).attr('tpl');
                    var scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
                    if ($(this).parent().hasClass('box-selected')) {
                        $(this).unwrap('.box-selected');
                    } else {
                        $(this).wrap('<div class="box-selected"></div>');
                    }
                    e.stopPropagation();
                    self.createPop(tplType, {
                        position: 'absolute',
                        top: e.clientY +
                            scrollTop + 'px',
                        left: e.clientX + 'px'
                    }, $(this).parent().hasClass('box-selected'), $(this));
                });

                this.model.on('createBtnData', function(data) {
                    self.showCreateBtn(data);
                });
                this.model.on('tplData', function(data, tplType) {
                    var templateData = self.model.get('templateData') || {};
                    templateData[tplType] = data;
                    self.model.set('templateData', templateData);
                    self.createTemplate(tplType);
                });
                this.model.get('tplNum').on('change',function() {
                    console.log(arguments);
                    self.renderSVG(self.$svg,self.model.get('tplNum').attributes);
                })
            },
            createTplhandler: function(tplType) {
                var self = this;
                self.model.set('curTemplate', tplType);
                var templateData = self.model.get('templateData') || {};
                if (templateData[tplType]) {
                    self.createTemplate(tplType);
                } else {
                    self.model.reqTplData(tplType)
                }
            },
            createTemplate: function(tplType) {
                this.setTplNum(tplType,this.getTplNum(tplType)+1); 
                var tplDOM = this.model.get('tplDOM') || {}
                var templateData = this.model.get('templateData') || {};
                if (!tplDOM[tplType]) {
                    var renderMethod = this.renderTpl(tplType);
                    tplDOM[tplType] = renderMethod(templateData[tplType]);
                    this.model.get('tplDOM', tplDOM);
                    tplDOM[tplType].attr('tpl', tplType);
                    $('#template-list').append(tplDOM[tplType]);
                } else {
                    $('#template-list').append(tplDOM[tplType]);
                }
            },
            renderTpl: function(tplType) {
                var self = this;
                var method = {
                    table: self.createTable,
                    div: self.createDiv,
                    button: self.createButton,
                    inputText: self.createInput,
                    image: self.createImage,
                }
                return method[tplType];
            },
            createTable: function(data) {
                function Table(data) {
                    this.rowCount = 0;
                    this.cellCount = 0;
                    this.data = data; //只取一次
                    this.init(data);
                }
                Table.prototype = {
                    constructor: Table,
                    init: function(res) {
                        this.rowCount = data.rows;
                        this.cellCount = data.cols;
                        this.cellData = data.cells;

                        var sortResult = this.sort();
                        this.newTableTemplate()
                    },
                    sort: function() {
                        this.sortResult = this.cellData.sort(function(td0, td1) {
                            if (td0.row === td1.row) {
                                return td0.col - td1.col;
                            } else {
                                return td0.row - td1.row;
                            }
                        });
                    },
                    newTableTemplate: function() {
                        var sortResult = this.sortResult;
                        var oFragmeng = document.createDocumentFragment();
                        var table = document.createElement('table');
                        for (var i = 0; i < this.rowCount; i++) {
                            var tr = document.createElement('tr');
                            for (var j = 0; j < this.cellCount; j++) {
                                var td = document.createElement('td');
                                if (sortResult[i * this.rowCount + j]) {
                                    var oText = document.createTextNode(sortResult[i * this.rowCount + j].data);
                                } else {
                                    var oText = document.createTextNode('');
                                }
                                td.appendChild(oText);
                                tr.appendChild(td);
                            }
                            oFragmeng.appendChild(tr);
                        }
                        table.appendChild(oFragmeng)
                        this.table = table;
                    }
                }
                return $(new Table(data).table);
            },
            createDiv: function(data) {
                return $(data.text);
            },
            createButton: function(data) {
                return $('<button>').attr({
                    title: data.title,
                }).text(data.text);
            },
            createInput: function(data) {
                var input = document.createElement('input');
                input.setAttribute('placeholder', data.text)
                return $(input);
            },
            createImage: function(data) {
                return $('<img>').attr({
                    src: data.image,
                    title: data.title,
                });
            },
            createPop: function(tplType, position, isVisible, curDom) {
                this.model.set('curDom', $(curDom));
                this.model.set('curTplType', tplType);
                var popview = this.model.get('popview') || {};
                if (!popview[tplType]) {
                    popview[tplType] = new popupView({
                        tplType: tplType,
                        position: position
                    });
                    popview[tplType].curDom = $(curDom)
                } else {
                    if (isVisible) {
                        popview[tplType].curDom = $(curDom)
                        this.showPopup(tplType, position);
                    } else {
                        popview[tplType].curDom = null;
                        $('.dropdown-menu').hide();
                    }
                }
                this.model.set('popview', popview);
            },
            addElt: function(svg, name, attrs) {
                var svgNS = "http://www.w3.org/2000/svg"
                var ele = document.createElementNS(svgNS, name);
                if (attrs === undefined) {
                    attrs = {};
                }
                for (var key in attrs) {
                    if(key === 'text'){
                        ele.innerHTML = attrs[key];
                        continue;
                    }
                    ele.setAttributeNS(null, key, attrs[key]);
                }
                svg.append(ele);
            },
            renderSVG: function(svg, tplObj) {
                svg.empty();
                this.addElt(svg, 'line', {
                    x1: "0",
                    y1: "260",
                    x2: "500",
                    y2: "260",
                    style: "stroke:rgb(99,99,99);stroke-width:2"
                });
                this.addElt(svg, 'text', {
                    x: "150",
                    y: "290",
                    style: "fill:green;font-size:16;line-height:20;",
                    text:'table'
                });
                this.addElt(svg, 'text', {
                    x: "200",
                    y: "290",
                    style: "fill:green;font-size:16;line-height:20;",
                    text:'button'
                });
                this.addElt(svg, 'text', {
                    x: "250",
                    y: "290",
                    style: "fill:green;font-size:16;line-height:20;",
                    text:'input'
                });
                this.addElt(svg, 'text', {
                    x: "300",
                    y: "290",
                    style: "fill:green;font-size:16;line-height:20;",
                    text:'div'
                });
                this.addElt(svg, 'text', {
                    x: "350",
                    y: "290",
                    style: "fill:green;font-size:16;line-height:20;",
                    text:'image'
                });
                var i = 0 ;
                for (var key in tplObj) {
                     i++;
                    if(!tplObj[key]){
                        continue;
                    }
                    var item = {
                        width: "48",
                        x: 50 * (i + 2),
                        y: 260 - tplObj[key] * 10,
                        height: tplObj[key] * 10,
                        style: ";fill:rgb(0,0,255);stroke-width:1;stroke:#209222;"
                    };
                   this.addElt(svg, 'rect', item);
                }
            },
            getTplNum:function(tplType){
                var tplNum = this.model.get('tplNum');
                return tplNum.get(tplType);
            },
            setTplNum:function(tplType,num){
                var tplNum = this.model.get('tplNum');
                return tplNum.set(tplType,num);
            }
        });

        var popupModel = appModel.extend({
            initialize: function(options) {
                this.set('tplType', options.tplType);
                this.reqActionsData(options.tplType);
            },
            reqActionsData: function(tplType) {
                var self = this;
                $.ajax({
                    type: 'get',
                    url: this.get('dataAPI').domain + this.get('dataAPI').btnAction[tplType]
                }).done(function(res) {
                    self.trigger('actionsData', res.data, tplType);
                }).fail(function(err) {
                    console.info(err);
                });
            }
        });
        var popupView = Backbone.View.extend({
            initialize: function(options) {
                this.position = options.position;
                this.popTemplate = _.template($('#tpl-popup').html());
                this.model = new popupModel({
                    tplType: options.tplType
                });
                this.curDom = null;
                var self = this;
                this.model.on('actionsData', function(data, tplType) {
                    var dom = $(self.popTemplate({
                        data: data,
                        tplType: tplType
                    })).css(self.position).show();
                    self.renderPop(dom);
                    self.model.off('actionsData');
                });
                this.bindEvents(options.tplType);
            },
            renderPop: function(dom) {
                $('#popupView').append(dom);
            },
            bindEvents: function(tplType) {
                var self = this;
                $('#popupView').delegate('#pop-' + tplType + ' a', 'click', function() {
                    var method = $(this).attr('value').trim();
                    self[method](self.curDom.unwrap('.box-selected'));
                    //self[method](self.option.template.dom);
                    self.hidePopUp();
                });
            },
            hidePopUp: function() {
                $('.dropdown-menu').hide();
            },
            delete: function(dom) {
                dom.remove();
            },
            backgroundColor: function(dom) {
                dom.css('backgroundColor', this.makeColor());
            },
            fontColor: function(dom) {
                console.log(dom);
                dom.css('color', this.makeColor());
            },
            increaseFontSize: function(dom) {
                fontSize = parseInt(fontSize) + 1;
                dom.css('fontSize', fontSize + 'px');
            },
            decreaseFontSize: function(dom) {
                fontSize = parseInt(fontSize) - 1;
                dom.css('fontSize', fontSize + 'px');
            },
            makeColor: function() {
                return '#' + ('00000' + (Math.random() * 0x1000000 << 0).toString(16)).slice(-6);
            }

        });

        new appView({
            model: appModel,
            el: '#mvc-app',
            tplContainer: '#template-list'
        });
        var fontSize = '11px';
    });
    </script>
</body>

</html>
