h1 {
  color: black
}

#font-size-big {
  position: relative;
  left: 150px
}

#font-size-small {
  position: relative;
  left: 165px
}

#create-button {
  position: relative;
  left: 100px;
}

.other-button {
  position: relative;
  left: 100px;
}

#label-font-size {
  position: relative;
  left: 390px;
}

#new-item {
  position: relative;
  top: 50px;
}
        
#new-item ul li a {   
  display:block;   
  width:150px;   
  height:28px;   
  line-height:28px;   
  text-align:center;   
  font-size:14px;  
  }  
    
#new-item ul {  
  list-style: none; 
  display:none;   
  position:absolute;
  float:none;
  }  
    
    
#new-item ul li{   
  width:150px;
  display:block;    
  background:#eee;   
  margin-left:2px;
  
  }  
    
#new-item ul li a:hover {   
  background:#333;   
  color:#fff;  
  }  
