#create{
	font-size:18px;
/*	background-color:#a7dce0;*/
	color:black;
}


[tpl="button"]{
	float:left;
	border: 1px solid #a7dce0;
}
[tpl="div"]{
	float:left;
}
input{
	float:left;
	border: 1px solid #a7dce0;

}
body{
	padding:20px;
	background-color: #fff5f7;
}
.box-selected{
	border: 1px solid blue;
}

.clear{
	clear:left;
}
td{
	text-align:center;
}

.dropdown-menu{
	background-color: #a7dce0;
	cursor:pointer;
}
img{
	float:left;
}
#elementsMenu{
	top:125px;
	left:20px;
}