h1 {
  color: black
}

#font-size-big {
  position: relative;
  left: 150px
}

#font-size-small {
  position: relative;
  left: 165px
}

#create-button {
  position: relative;
  left: 100px;
}

.other-button {
  position: relative;
  left: 100px;
}

#label-font-size {
  position: relative;
  left: 390px;
}

#new-item {
  position: relative;
  top: 50px;
}
