.tableT {
    padding: 20px;
    margin: 100px;
}

.button {
    cursor: pointer;
    border: 1px solid #dedede;
}

#head {
    height: 55px;
}

.head_button {
    /*position: absolute;*/
    font-size: 15px;
    margin-left: 10px;
    float: left;
    width: 160px;
    height: 50px;
    color: black;
    font-family: 微软雅黑;
    /*border: 1px solid #dedede;*/
    -moz-border-radius: 10px;
    /* Gecko browsers */
    -webkit-border-radius: 10px;
    /* Webkit browsers */
    border-radius: 10px;
    background-color: #dedede;
}

.head_button_item {
    margin-left: 10px;
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 9px;
}

.option {
    padding-left: 10px;
}

.list_button {
    padding-left: 38px;
    text-align: center;
}

.content {
    padding: 10px;
}

#contents_p{
	border: 2px solid ;
	width: 100%;
	height: 100%;
}
